version: "3.8"

services:
  mongo:
    image: mongo:6
    restart: unless-stopped
    volumes:
      - mongo_data:/data/db
    networks:
      - mern-net

  server:
    build:
      context: ./server
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=mongodb://mongo:27017/notesdb
      - PORT=5000
    depends_on:
      - mongo
    networks:
      - mern-net

  client:
    build:
      context: ./client
    ports:
      - "80:80"
    depends_on:
      - server
    networks:
      - mern-net

volumes:
  mongo_data:

networks:
  mern-net:
    driver: bridge
